
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content:center;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color:#6b25b6;
    padding:1.75rem;
    border-radius: 6px;
    transition: 0.3s;
    gap: 10px;
}
.card:hover{
    box-shadow: 0 0 10px white;
}
.card .card_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85%;
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
}
.card .card_image img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}
.card .card_info{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.card .btn_block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* padding: 5px 0; */
    /* border: 1px solid black; */
}
.card .btn_block .more_btn{
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 2px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: whitesmoke;
    color: #6b25b6;
    transition: .2s;
}
.card .btn_block .more_btn:hover{
    opacity: 0.8;
}


/* MORE-CONTAINER */
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.more_card{
    display: flex;
    border-bottom: 5px solid #6b25b6;
    border-right: 5px solid #6b25b6;
    width: 80%;
    height: 80%;
    padding: 2rem;
    gap: 20px;
    /* border-radius: 8px; */
}
.more_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.more_card .more_image{
    background-color: white;
    border-right: 5px solid #6b25b6;
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
    width: 40%;
    min-height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem;
}
.more_card .more_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.more_title{
    padding: 0 5px;
    min-height: 10%;
    border-bottom: 5px solid #2A2E45;
}
.more_info .list{
    list-style: none;
    border-bottom: 3px solid #2A2E45;
    height: 45%;
}
.list_footer{
    display: flex;
    align-items: center;
    height: 20%;
    border-bottom: 3px solid #2A2E45;
    color: #888;
}
.more_info .list li{
    margin: 20px 0;
    color: #888;
    font-weight: 600;
}
.more_cart{
    display: flex;
    width: 100%;
    height: 15%;
    padding: 10px;
    gap: 5px;
    /* border: 1px solid red; */
}
.cart_btn , .heart_btn{
    width: 20%;
    height: 90%;
    font-size: 18px;
    background-color: #6b25b6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.heart_btn{
    width: 10%;
}
.cart_btn:hover, .heart_btn:hover{
    opacity: 0.8;
}
.back_btn_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 8%; 
}
.back_btn{
    width: 15%;
    height: 90%;
    background-color: #6b25b6;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.back_btn:hover{
    opacity: 0.8;
}
/* MORE-CONTAINER-END */