*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.header_—Åontainer{
    background-color: #8B43FF;
    padding: 0 2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5.75rem;
    height: 80px;
}
.logo img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}
.header_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header_list li{
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}
.header_list li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: .5s ease-in-out;
}
.header_list li:hover:before{
    width: 100%;
}
.header_list li a{
    color: white;
    text-decoration: none;
}
.header_input{
    display: flex;
    align-items: center;
    width: 25%;
    height: 50px;
    padding: 0.20rem 0.75rem;
    gap: 5px;

}
.select{
    width: 40%;
    height: 95%;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #888;
}
.input{
    width: 100%;
    height: 95%;
    padding: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #888;
}
/* NAVBAR-END */

/* .burger_menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 100%;
    right: -110%;
    top: 0;
    background-color: #ffffff;
    z-index: 9999;
    padding:20px 20px;
    transition: 0.5s;
}
.burger_menu .adaptive_nav_btn{
    min-width: 2.5rem;
    height: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    background: #d5a022;
    border: 1px solid #d5a022;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.burger_menu .adaptive-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger_menu .close{
right: 1rem;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.burger_menu .close img{
    width: 100%;
    object-fit: cover;
}
.burger_menu .adaptive_nav_btn:hover{
    background-color: white;
    color: #d5a022;
}
.burger_menu ul li {
    margin: 30px 0;
}
.burger_menu ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #044d2c;
    font-weight: 700;
}
  .burger_menu ul li a:hover{
    color:#D5A022;
} */


/* BANNER */
.header_banner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}
.header_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:6rem;
    background: url('/IMG/Vector\ 3.png') center / cover;

}
.header_text .content_text{
    width: 80%;
}
.header_content .header_text{
    width: 650px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.header_content .header_text::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100vh;
    left: -4%;
    top: -7.5%;
    transform: rotate(60deg);
    background: url('/IMG/blob-For-text.svg') center / contain no-repeat;
    z-index: -1;
    color: #8b3ffccd;
}
.content_title{
    width: 60%;
    height: 40%;
    font-size: 25px;
    font-weight:1000;
    color: white;

    /* border: 1px solid red; */
}
.content_text{
    width: 100%;
    color: white;
    font-size:18px;
    font-weight: 400;
}
.content_btn{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    margin-top: 20px;
}
.content_btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8B43FF;
    background: white;
    color: #8B43FF;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    
}
.content_btn button:hover{
    background: #8B43FF;
    color:white;
    border: 1px solid white;
}

/* BANNER-END */

/* MAIN-PAGE-CONTAINER */

.container{
    width: 100%;
    display: flex;
    justify-content:center;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color:#7365FF;
    padding:1.75rem;
    border-radius: 6px;
    transition: 0.3s;
    gap: 10px;
}
.card:hover{
    box-shadow: 0 0 10px white;
}
.card .card_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85%;
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
}
.card .card_image img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}
.card .card_info{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.card .btn_block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.card .btn_block .more_btn{
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 2px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: whitesmoke;
    color: #6b25b6;
    transition: .2s;
}
.card .btn_block .more_btn:hover{
    opacity: 0.8;
}
/* MAIN-PAGE-CONTAINER-END */

/* MORE-CONTAINER */
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.more_card{
    display: flex;
    border-bottom: 5px solid #6b25b6;
    border-right: 5px solid #6b25b6;
    width: 80%;
    height: 80%;
    padding: 2rem;
    gap: 20px;
}
.more_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.more_card .more_image{
    background-color: white;
    border-right: 5px solid #6b25b6;
    border-bottom-right-radius:12px;
    border-top-right-radius:12px;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem;
}
.more_card .more_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.more_title{
    padding: 0 5px;
    min-height: 10%;
    border-bottom: 5px solid #2A2E45;
}
.more_info .list{
    list-style: none;
    border-bottom: 3px solid #2A2E45;
    min-height: 45%;
}
.list_footer{
    display: flex;
    align-items: center;
    min-height: 20%;
    border-bottom: 3px solid #2A2E45;
    color: #888;
}
.more_info .list li{
    margin: 20px 0;
    color: #888;
    font-weight: 600;
}
.more_cart{
    display: flex;
    width: 100%;
    height: 15%;
    padding: 10px;
    gap: 5px;
    /* border: 1px solid red; */
}
.more_cart .back_btn{
    display: none;
}
.cart_btn , .heart_btn{
    width: 20%;
    height: 90%;
    font-size: 18px;
    background-color: #6b25b6;
    border-radius: 4px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.heart_btn{
    width: 10%;
}
.cart_btn:hover, .heart_btn:hover{
    opacity: 0.8;
}
.back_btn_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 8%; 
}
.back_btn{
    width: 15%;
    height: 90%;
    background-color: #6b25b6;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.back_btn:hover{
    opacity: 0.8;
}
/* MORE-CONTAINER-END */


/* LOADER */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #6b25b6;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
/* LOADER-END */

/* RESPONSIVE */
@media screen and (max-width:950px) {
    .nav{
        padding: 0;
        justify-content: space-between;
    }
    .nav .header_list{
        display: none;
    }

}
@media screen and (max-width:768px) {
    .header_banner{
        justify-content: center;
        height: 100vh;
    }
    .header_content{
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        border: 1px solid black;
        padding-left: 3rem;
    }
   .header_content .header_text{
        width: 500px;
        height: 450px;
        align-items: flex-end;
        border: 1px solid black;
        gap: 10px;
    }
    .header_content .header_text .content_title{
        border-bottom: 1px solid white;
        /* color: black; */
    }
    .header_content .header_text .content_text{
        width:60%;
        /* color: black; */
    }
    .header_content .header_text .content_btn{
        justify-content: center;
    }
   .header_content .header_text::before{
        display: flex;
        width: 100%;
        top: 15%;
        left: -15%;
        transform: rotate(90deg);
        display: none;
    }
    .header_content img{
        width: 500px;
        border: 1px solid red;
        display: none;
    }
    .container{
        min-height: 100vh;
        margin-top: 50px;
    }
    .more_card{
        flex-wrap: wrap;
        width: 90%;
        min-height: 100%;
        border-right: none;
        border-bottom: none;
    }
    .more_card .more_image{
        width: 100%;
        height: 50%;
        border-left: 5px solid #6b25b6;
        border-radius: 0;
    }
    .more_info{
        height: 90%;
        gap: 10px;
    }
    .more_title{
        height: 20%;
        display: flex;
        align-items: center;
    }
    .more_info .list{
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.75rem;
    }
    .more_info .list li{
        margin: 0px;
    }
    .list_footer{
        padding: 0.75rem;
    }
    .more_cart .back_btn{
        display: block;
    }
    .back_btn{
        display: none;
    }
}
@media screen and (max-width:425px) {
    .header_content{
        padding: 0;
    }
    .header_content .header_text .content_text{
        justify-content: flex-start;
    }
    .card .btn_block .more_btn{
        padding: 12px 12px;
        height: 100%;
    }
    .more_info .more_title{
        align-items: flex-end;
        min-height: 40%;
    }
    .list_footer{
        display: flex;
        align-items: flex-start;
        overflow: scroll;
        border: none;
    }
    .more_cart{
        min-height: 20%;
    }
    .cart_btn , .heart_btn , .back_btn{
        width: 50%;
        height: 50%;
    }

}
@media screen and (max-width:375px) {
    .banner{
        padding: 0;
    }
    .header_content{
        justify-content: flex-start;
    }
    .header_content .header_text{
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
    }
    .list_footer{
        min-height: 23%;
        padding: 0;
    }
}
/* RESPONSIVE-END */